/**
 * Created by BRITENET on 13.01.2020.
 */
.THIS img {
    padding: 0px;
    border: 5px solid #6B6D70;
}
.THIS element.style {
   padding:10px;
 }

.THIS .slds-size_1-of-1 {
    background-color: #DEEBEC
;
}
.THIS .strikethrough {
  position: relative;
}
.THIS .strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}


