/**
 * Created by BRITENET on 13.01.2020.
 */
.THIS img {
    padding: 0px;
    border: 5px solid #6B6D70;
}
.THIS element.style {
   padding:10px;
 }

.THIS .slds-size_1-of-1 {
    background-color: #DEEBEC
;
}


