
.THIS img {
    width:4rem;
    height : 4rem;
    left:828px;
    padding: 2px;
}
 .THIS .slds-popover {
 position: absolute;
 left: 830px;
 top: 58px;
 width: 40rem;
 min-height: 2rem;
 z-index: 6000;
 background-color: rgb(255, 255, 255);
 box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
 border: 1px solid #6B6D70;
}
